In [45]:
import pandas as pd
import sklearn
from sklearn import svm

#Inside pd.read_excel, input your directory to the Grad Test.xlsx

df = pd.read_excel(#)
df = df.set_index('studentid')

#We must replace the string in the 'race' column. The replacement integer is arbitrary. 
#We must replace the string in the 'schoolname' column. The replacement in arbitrary. 

race_dict = {'A': 1, 'H': 2, 'M': 3, 'P': 4, 'B': 5, 'W': 6, 'I':7}
school_dict = {'Spruce Creek High' : 1, 'University High' : 2, 'Atlantic High' : 3,
       'New Smyrna Beach High' : 4, 'Deltona High' : 5, 'Pine Ridge High' : 6,
       'Mainland High' : 7, 'T. D. Taylor Middle-High' : 8, 'Deland High' : 9,
       'Seabreeze High': 10}
df['race'] = df['race'].map(race_dict)
df['schoolname'] = df['schoolname'].map(school_dict)

           schoolname  race  schoolyear  graduated
studentid
39001               1     6        2018          1
218116              2     6        2017          1
219577              2     6        2019          1
246829              1     6        2019          1
340212              3     6        2019          0

In [59]:
X = df.drop('graduated', axis = 1).values
y = df['graduated'].values

test_size = 10000

X_train = X[:-test_size]
y_train = y[:-test_size]


X_test= X[-test_size:]
y_test = y[-test_size:]

In [60]:
clf = svm.SVC()

clf.fit(X_train, y_train)

print(clf.score(X_test, y_test))

0.6839